* {
    margin: 0;
    padding: 0;
}



.content {
    margin-top: 50px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    gap: 10px;

}

.banner-text {}
.NumberInput{
    padding: 10px;
    width: 260px;
}
button {
    padding: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file-input {
    display: inline-block;
    padding: 10px 20px;
    background-color: #374bcd;
    color: white;
    border: none;
    cursor: pointer;

}

.custom-file-input:hover {
    background-color: #202d57;
}

.upload-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.upload-icon {
    width: 20px;
    height: 20px;
    color: #374bcd;
}

.button {
    background-image: linear-gradient(92.88deg, #223b6e 9.16%, #2c2282 43.89%, #301e91 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 2rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .button {
        padding: 0 2.6rem;
    }
}


.animation-area {
    width: 100%;
    height: 100vh;
}

.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(70, 83, 96, 0.4);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}